html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url("./assets/fundoIndex.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    padding: 0px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: white;
    text-align: center;
    margin: 3%;
    
}

div.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    background-color: black;
    border: solid 1px #AC251F;
    border-radius: 3px;
    width: auto;
    height: 60px;
}

button:hover {
    border: solid 1px white;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color: #AC251F;
    margin: 0px;
    padding: 2px;
}

p:hover {
    color: white;
}

@media screen and (max-width: 1110px) {
    
}

@media screen and (max-width: 910px) {
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 510px) {
    
}
